# ignore all 
*

# don't ignore paths
!.gitignore
!i3/
!i3/**
!picom/
!picom/**
!nvim/
!nvim/**
!polybar/
!polybar/**
!waybar/
!waybar/**
!hypr/
!hypr/**
!neofetch/
!neofetch/**
!reqs.txt
!terminator/
!terminator/**
!lock.sh
